body{
    background-color: darkcyan;
}
h1{
    text-align: center;
    color: white;
    text-transform:uppercase;
}
.box,
.fizz,
.buzz{
    color: black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: khaki;
}   
.fizz{
    background-color:lightcoral;
}
.buzz{
    background-color: limegreen;
}